* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

/***************************************
            ENTÊTE DE PAGE
****************************************/




/***************************************
              PAGE ACCUEIL
****************************************/
.page-accueil h1 {
    background: red;
}

/***************************************
              PAGE CONTACT
****************************************/
.page-contact h1 {
    background: yellow;
}

/***************************************
           PAGE INFORMATIONS
****************************************/
.page-infos h1 {
    background: deepskyblue;
}

